@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');



.bgcolor-primary{
 background-color:  #006241;
} 
.bgcolor1{
 background-color: #D4E9E2;
} 
.bgcolor2{
 background-color: #3D7170;
} 

.bgcolor3{
  background-color: #f4c5a1;
}

.bgcolor4{
  background-color: #8b323e;
}

.text-color1{
  color: #1E3932;
}

.mw-83{
  max-width: 83%;
}

.mh-83{

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
};

